.shadow{
    box-shadow: 2px 2px 4px rgb(255, 255, 255,0.5);
    border-radius: 5px;
}
.slick-dots li button:before {
    color: gray; /* Default color for unselected dots */
  }
  
  /* Selected dot */
  .slick-dots li.slick-active button:before {
    color: white; /* Color for selected dot */
  }
